.image-container {
  position: relative;
  width: 100%;
  display: block;
  margin: 1rem auto;
  overflow: hidden;

  canvas.blur-hash {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    will-change: transform;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;

    &.lazy {
      opacity: 0;
    }

    &.loaded {
      opacity: 1;
    }
  }
} 