<link rel="stylesheet" href="{{ "katex/css/katex.min.css" | relURL }}">
<script defer src="{{ "katex/js/katex.min.js" | relURL }}"></script>
<script defer src="{{ "katex/js/auto-render.min.js" | relURL }}"
    onload="renderMathInElement(document.body, {
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false}, 
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError: false
    })"></script>
